@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    background-color: #BCADE2;
}

.container {
    width: 70%;
    margin: 40px auto;
}


.form-container {
    border-radius: 12px;
    overflow: hidden;
    background-color: #F7F2FC;
}

.form-heading {
    background-color: #64189E;
    padding: 30px;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
}

.form-container form {
    padding: 32px;
}

form label, 
form input,
select,
textarea {
    display: block;
    width: 100%;
    outline: none;
    border: none;
}

form label {
    color: #64189E;
    margin-bottom: 10px;
    font-size: 16px;
}

form input,
select,
textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #DBDDE9;
    outline: none;
}

form .gender-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

form div.gender-group label,
form div.gender-group input {
    display: inline-block;
    width: auto;
    height: auto;
}

.radio-group label {
    color: #000;
}

.radio-group input[type='radio'] {
    margin-right: 5px;
    display: inline-block;
    border: none;
    padding: 0;
}

.form-group textarea {
    padding: 10px;
    font-family: 'Rubik';
}

.form-group {
    margin-bottom: 20px;
}

.submit-btn {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.submit-btn button {
    display: inline-flex;
    border: none;
    background-color: #CC115E;
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    padding: 8px 24px;
    border-radius: 60px;
    transition: 0.3s;
}

.submit-btn button:hover {
    transform: scale(1.1);
}

/* OUTPUT */
.output-container {
    width: 70%;
    margin: 40px auto;
}

.data-container {
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffffff;
}

.output-heading-box {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.output-heading {
    font-size: 20px;
}

.add-student-btn {
    text-decoration: none;
    background-color: #64189E;
    color: #ffffff;
    display: inline-block;
    padding: 8px 12px;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
}

.add-student-btn:hover {
    background-color: #4e0b82;
}

table {
    width: 100%;
    border: none;
    border-collapse: collapse;
}

thead {
    background-color: #CC115E;
    color: #ffffff;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

tbody tr:nth-child(even) {
    background-color: #fde7f0;
}

th, td {
    padding: 8px 16px;
    text-align: center;
}


/* ERROR and SUCCESS MESSAGES */
.error-message {
    padding-top: 5px;
    color: red;
    font-size: 14px;
}

.success-message {
    margin-top: 10px;
    text-align: center;
    color: green;
}